Time(UTC{{data.get('utc_offset')}}):{{data.get('timestamp')}}
Title: {{data.get('title')}}
RuleName: {{data.get('ruleName')}}
State: {{data.get('state')}}
Message: {{data.get('msg')}}
RuleURL: {{data.get('ruleUrl')}}