<body>
    <style type="text/css">
    body {
        background-color: #f2f1ef;
    }
    </style>
    <h3>Timestamp(UTC{{data.get('utc_offset')}}): {{data.get('timestamp')}}</h3>
    <h3>Title: {{data.get('title')}}</h3>
    <h3>Message:</h3> {{data.get('content')}}
    <h3>RuleName: {{data.get('ruleName')}}</h3>
    <h3>State: {{data.get('state')}}</h3>
    <img src="{{data.get('imageUrl')}}">
    <br>
    <br>
    <a href="{{data.get('ruleUrl')}}" style="color:#0f0e0e; text-decoration:none; display:inline-block; padding:12px 25px; border:1px solid #2c8c1d">View your Alert rule</a>
    <a href="{{data.get('alertPage')}}" style="color:#0f0e0e; text-decoration:none; display:inline-block; padding:12px 25px; border:1px solid #2c8c1d">Go to the Alert page</a>
</body>
</html>